* {
  font-size:16px;
  font-family: "Maple Mono NL CN Light, Hack Nerd Font Mono";
}
window#waybar{
  all:unset;
  background: rgba(0, 0, 0, 1);
}
.modules-left {
  padding: 0px;
  background:rgba(0,0,0,0);
  margin: 0px;
  border-radius: 0px;
  box-shadow: none;
}
.modules-center {
  padding: 0px;
  color: white;
  background:rgba(0,0,0,0);
  margin: 0px;
  border-radius: 0px;
  box-shadow: none;
}
.modules-right {
  padding: 1px;
  color: white;
  background:rgba(0,0,0,0);
  margin: 0px;
  border-radius: 0px;
  box-shadow: none;
}
tooltip {
  background:rgb(50,50,50)
}
#custom-notification {
  padding: 0px 5px;
  transition: all .3s ease;
}
#clock{
  padding: 0px 5px;
  transition: all .3s ease;
}
#custom-pacman{
  padding: 0px 5px;
  transition: all .3s ease;
}
#workspaces {
  padding: 0px 5px;
}
#workspaces button {
  all:unset;
  padding: 0px 4px;
  color: #888888;
  transition: all .5s ease;
}
#workspaces button:hover {
  color: white;
}
#workspaces button.active {
  color: white;
}
#workspaces button.empty {
  color: #333333;
}
#workspaces button.empty.active {
  color: white;
}
#workspaces button.empty:hover {
  color: white;
}
#workspaces button:nth-child(3),
#workspaces button:nth-child(6) {
  margin-right: 6px;
}

#bluetooth{
  padding: 0px 5px;
  transition: all .3s ease;
}
#network{
  padding: 0px 5px;
  transition: all .3s ease;
}
#battery{
  padding: 0px 5px;
  transition: all .3s ease;

}
#battery.charging {
  color: #26A65B;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#group-expand{
  padding: 0px 5px;
  transition: all .3s ease;
}
#custom-expand{
  padding: 0px 5px;
  color:rgba(0,0,0,.2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
  transition: all .3s ease;
}
#custom-expand:hover{
  color:rgba(255,255,255,.2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
  padding: 0px 5px;
}
#cpu,#memory,#temperature{
  padding: 0px 5px;
  transition: all .3s ease;
}
#custom-endpoint{
  color:transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
  padding: 0px 5px;
  transition: all .3s ease;
}
#tray menu * {
  padding: 0px 5px;
  transition: all .3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all .3s ease;
}
#cpu.warning {
  color: #f53c3c;
}

#memory.warning {
  color: #f53c3c;
}
